<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Sistema Escolar - Series</title>
</head>

<body>
	<div layout:fragment="conteudo">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Nova serie</h1>
			</div>
			<!-- /.col-lg-12 -->

		</div>
		
		<div class="row">
			<div class="col-lg-12">



				<div class="col-lg-6">
					<div class="alert  alert-success  alert-dismissible" role="alert"
						th:if="${not #strings.isEmpty(mensagem)}">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
						</button>
						<span th:text="${mensagem}"></span>
					</div>

					<form role="form" th:action="@{/serie/nova/}" th:object="${serie}" method="post">

						<div class="alert  alert-danger  alert-dismissible" role="alert"
							th:if="${#fields.hasAnyErrors()}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<th:block th:each="erro : ${#fields.detailedErrors()}">
								<div>
									<i class="fa  fa-exclamation-circle"></i> <span
										th:text="${erro.message}"></span>
								</div>
							</th:block>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('nome')} ? has-error">
							<label>Nome</label> <input class="form-control" type="text"
								th:field="*{nome}" />

						</div>
												<div class="form-group">
							<label>Turno</label>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios1" value="M" th:field="*{turno}" checked="true" />Manhã
								</label>
							</div>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios2" th:field="*{turno}" value="T" />Tarde
								</label>
							</div>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios2" th:field="*{turno}" value="N" />Noite
								</label>
							</div>
							</div>

							
							<div class="form-group">
								<button class="btn  btn-primary" type="submit">Salvar</button>
							</div>
							
							</form>
						</div>


					
				</div>
			</div>
		</div>
	
</body>
</html>